{% extends 'base.html' %}
{% load static%}
{% block content %}


		<!-- ticker-news-section
			================================================== -->
		<section class="ticker-news">

			<div class="container">
				<div class="ticker-news-box">
					<span class="breaking-news">Son Dakika Haberleri</span>
					<ul id="js-news">
						{% for haber in haberler%}
						<li class="news-item"><span class="time-news">{{haber.created_on}}</span>  <a href="#">{{haber.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</section>
		<!-- End ticker-news-section -->

		<!-- heading-news-section
			================================================== -->
		<section class="heading-news3">
			<div class="container">

				<div class="heading-news-box">

					<div class="owl-wrapper">
						<div class="owl-carousel" data-num="4">

							{% for haber in haberler%}
							<div class="item">
								<div class="news-post show-post">

									<div class="post-gallery">
										<img src="{{ haber.image.url }}" alt="">
									</div>
									<div class="post-content">
										<a class="category-post" href="#">{{haber.category}}</a>
										<h2><a href="{% url 'news_detail' id=haber.id %}">{{ haber.title }}</a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>{{haber.created_on}}</li>
											<li><i class="fa fa-user"></i>by <a href="#">{{haber.author}}</a></li>
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End heading-news-section -->

		<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">
			<div class="container">

				<!-- block content -->
				<div class="block-content non-sidebar">

					<!-- grid box -->

					<!-- End grid box -->

					<!-- google addsense -->
					<div class="advertisement">
						<div class="desktop-advert">
							<span>Advertisement</span>
							<img src="{% static 'upload/addsense/728x90-white.jpg' %}" alt="">
						</div>
						<div class="tablet-advert">
							<span>Advertisement</span>
							<img src="{% static 'upload/addsense/468x60-white.jpg' %}" alt="">
						</div>
						<div class="mobile-advert">
							<span>Advertisement</span>
							<img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
						</div>
					</div>
					<!-- End google addsense -->

				</div>
				<!-- End block content -->
			</div>
		</section>
		<!-- End block-wrapper-section -->

		<!-- latest-fashion-section
			================================================== -->
		<section class="latest-fashion">
			<div class="container">
				<div class="title-section white">
					<h1><span>Haberler</span></h1>
				</div>

				<div class="fatest-fashion owl-wrapper">
					<div class="owl-carousel" data-num="3">
						{% for haber in haberler%}
						<div class="item news-post fashion-post">
							<div class="post-gallery">
								<img alt="" src="{{ haber.image.url }}">
							</div>
							<div class="post-content">
								<a href="#">{{haber.category}}</a>
								<h2><a href="{% url 'news_detail' id=haber.id %}">{{ haber.title }}</a></h2>
								<ul class="post-tags">
									<li><i class="fa fa-clock-o"></i>{{haber.created_on}}</li>
									<li><i class="fa fa-user"></i>by <a href="#">{{haber.author}}</a></li>
								</ul>
							</div>
						</div>
						{%endfor%}
					</div>
				</div>

			</div>
		</section>
		<!-- End latest-fashion-section -->

		<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 content-blocker">

						<!-- block content -->
						<div class="block-content">

							<!-- masonry box -->
							<div class="masonry-box">

								<div class="title-section">
									<h1><span>Haberler</span></h1>
								</div>
								<div class="latest-articles iso-call">
									{% for haber in haberler%}
									<div class="news-post fashion-post default-size">
										<div class="post-gallery">
											<img src="{{ haber.image.url }}" alt="">
										</div>
										<div class="post-content">
											<a href="#">{{haber.category}}</a>
											<h2><a href="{% url 'news_detail' id=haber.id %}">{{ haber.title }}</a></h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>{{haber.created_on}}</li>
												<li><i class="fa fa-user"></i>by <a href="#">{{haber.author}}</a></li>
											</ul>
										</div>
									</div>
									{%endfor%}
								</div>

							</div>
							<!-- End masonry box -->

							<!-- pagination box -->
							<!-- End pagination box -->

						</div>
						<!-- End block content -->

					</div>

					<div class="col-sm-4 sidebar-sticky">

						<!-- sidebar -->
						<div class="sidebar theiaStickySidebar">

							<div class="widget social-widget">
								<div class="title-section">
									<h1><span>Bizimle Kalın</span></h1>
								</div>
								<ul class="social-share">
									<li>
										<a href="#" class="rss"><i class="fa fa-rss"></i></a>
										<span class="number">9,455</span>
										<span>Abone</span>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<span class="number">56,743</span>
										<span>Hayran</span>
									</li>
									<li>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<span class="number">43,501</span>
										<span>Takipçi</span>
									</li>
									<li>
										<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
										<span class="number">35,003</span>
										<span>Takipçi</span>
									</li>
								</ul>
							</div>


							<div class="widget tab-posts-widget">

								<ul class="nav nav-tabs" id="myTab">
									<li class="active">
										<a href="#option1" data-toggle="tab">Gündem</a>
									</li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="option1">
										<ul class="list-posts">
											{% for haber in haberler%}
											<li>
												<img src="{{ haber.image.url }}" alt="">
												<div class="post-content">
													<h2><a href="{% url 'news_detail' id=haber.id %}">{{ haber.title }} </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>{{haber.created_on}}</li>
													</ul>
												</div>
											</li>
											{%endfor%}
										</ul>
									</div>


								</div>
							</div>

							<div class="advertisement">
								<div class="desktop-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/300x250.jpg" alt="">
								</div>
								<div class="tablet-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/200x200.jpg" alt="">
								</div>
								<div class="mobile-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/300x250.jpg" alt="">
								</div>
							</div>

						</div>
						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->

{%endblock%}


