{% extends 'base.html' %}
{% load static %}
{%block content%}
<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 content-blocker">

						<!-- block content -->
						<div class="block-content">

							<!-- masonry box -->
							<div class="masonry-box">

								<div class="title-section">
									<h1><span>{{ category.name}}</span></h1>
								</div>

								<div class="latest-articles iso-call">
									{% for haber in news_in_category %}
										<div class="news-post fashion-post default-size">
												<div class="post-gallery">
													<img src="{{ haber.image.url }}" alt="">
												</div>
												<div class="post-content">
													<a href="#">{{haber.category}}</a>
													<h2><a href="{% url 'news_detail' slug=haber.slug %}">{{ haber.title }}</a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>{{haber.created_on}}</li>
														<li><i class="fa fa-user"></i>by <a href="#">{{haber.author}}</a></li>
													</ul>
												</div>
										</div>
									{%endfor%}
								</div>
							</div>
							<!-- End masonry box -->

							<!-- pagination box -->

							<!-- End pagination box -->

						</div>
						<!-- End block content -->

					</div>

					<div class="col-sm-4 sidebar-sticky">

						<!-- sidebar -->
						<div class="sidebar theiaStickySidebar">

							<div class="widget social-widget">
								<div class="title-section">
									<h1><span>Bizimle Kalın</span></h1>
								</div>
								<ul class="social-share">
									<li>
										<a href="#" class="rss"><i class="fa fa-rss"></i></a>
										<span class="number">9,455</span>
										<span>Abone</span>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<span class="number">56,743</span>
										<span>Hayran</span>
									</li>
									<li>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<span class="number">43,501</span>
										<span>Takipçi</span>
									</li>
									<li>
										<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
										<span class="number">35,003</span>
										<span>Takipçi</span>
									</li>
								</ul>
							</div>

							<div class="widget tab-posts-widget">

								<ul class="nav nav-tabs" id="myTab">
									<li class="active">
										<a href="#option1" data-toggle="tab">Reklam</a>
									</li>
								</ul>
							</div>

							<div class="advertisement">
								<div class="desktop-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/300x250.jpg" alt="">
								</div>
								<div class="tablet-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/200x200.jpg" alt="">
								</div>
								<div class="mobile-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/300x250.jpg" alt="">
								</div>
							</div>

						</div>
						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->
{%endblock%}