{% extends 'base.html' %}

{%block content%}
{% load static %}



<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 content-blocker">

						<!-- block content -->
						<div class="block-content">

							<!-- single-post box -->
							<div class="single-post-box">

								<div class="title-post">
									<h1>{{haber.title}}</h1>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>{{haber.created_on}}</li>
										<li><i class="fa fa-user"></i>by <a href="#">{{haber.author}}</a></li>
									</ul>
								</div>

								<div class="post-gallery">
									<ul class="bxslider">
										<li><img src="{{ haber.image.url }}" alt=""></li>
									</ul>
								</div>

								<div class="post-content">

									<blockquote>
										<p>{{haber.summary}}</p>
									</blockquote>
										<p>{{haber.contents}}</p>

								</div>


								<div class="share-post-box">
									<ul class="share-box">
										<li><i class="fa fa-share-alt"></i><span>Paylaş</span></li>
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i><span></span></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i><span></span></a></li>
									</ul>
								</div>



								<div class="about-more-autor">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#about-autor" data-toggle="tab">Yazar</a>
										</li>
									</ul>

									<div class="tab-content">
										<div class="tab-pane active" id="about-autor">
											<div class="autor-box">
												<img src="{{ yazar.image.url }}" alt="">
												<div class="autor-content">
													<div class="autor-title">
														<h1><span>{{yazar.name}}</span></h1>
													</div>
													<p>
														{{yazar.about}}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>



								<!-- comment area box -->
								<div class="comment-area-box">
									<div class="title-section">
										<h1><span>Yorumlar</span></h1>
									</div>
									<ul class="comment-tree">
										{% for comment in yorumlar%}

										<li>
											<div class="comment-box">
												<div class="comment-content">
													<h4>{{comment.name_surname}}</h4>
													<p>{{comment.comment}} </p>
												</div>
											</div>
										</li>
										{% endfor %}
									</ul>
								</div>
								<!-- End comment area box -->

								<!-- contact form box -->
								<div class="contact-form-box">
									<div class="title-section">
										<h1><span>Yorum Yap</span> <span class="email-not-published">E-posta adresiniz yayınlanmayacaktır.</span></h1>
									</div>
									<form action="{% url 'news_detail' haber.id %}" method="post"  id="comment-form">
										{% csrf_token %}

										<div class="row">
											<div class="col-md-4">
												<label for="{{ form.name_surname.id_for_label }}">{{ form.name_surname.label }}</label>
												{{ form.name_surname }}
											</div>
											<div class="col-md-4">
												<label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
												{{ form.email }}
											</div>
										</div>
										<div class="form-group">
											<label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
											{{ form.comment }}
										</div>
										<button type="submit" id="submit-contact">
											<i class="fa fa-comment"></i> Gönder
										</button>
									</form>

									{% if messages %}
										{% for message in messages %}
										<div class="alert alert-success">{{ message }}</div>
										{% endfor %}
									{% endif %}

								</div>
								<!-- End contact form box -->

							</div>
							<!-- End single-post box -->

						</div>
						<!-- End block content -->

					</div>

					<div class="col-sm-4 sidebar-sticky">

						<!-- sidebar -->
						<div class="sidebar theiaStickySidebar">

							<div class="widget social-widget">
								<div class="title-section">
									<h1><span>Bizimle Kalın</span></h1>
								</div>
								<ul class="social-share">
									<li>
										<a href="#" class="rss"><i class="fa fa-rss"></i></a>
										<span class="number">9,455</span>
										<span>Abone</span>
									</li>
									<li>
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<span class="number">56,743</span>
										<span>Hayran</span>
									</li>
									<li>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<span class="number">43,501</span>
										<span>Takipçi</span>
									</li>
									<li>
										<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
										<span class="number">35,003</span>
										<span>Takipçi</span>
									</li>
								</ul>
							</div>





							<div class="advertisement">
								<div class="desktop-advert">
									<span>Advertisement</span>
									<img src="{% static 'upload/addsense/300x250.jpg'%}" alt="">
								</div>
								<div class="tablet-advert">
									<span>Advertisement</span>
									<img src="{% static 'upload/addsense/200x200.jpg'%}" alt="">
								</div>
								<div class="mobile-advert">
									<span>Advertisement</span>
									<img src="{% static 'upload/addsense/300x250.jpg'%}" alt="">
								</div>
							</div>

						</div>
						<!-- End sidebar -->

					</div>
				</div>
			</div>
		</section>
		<!-- End block-wrapper-section -->
 {%endblock%}


